@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

body {
  font-family: "Lato", "Roboto", "Sans+Pro";
  background-color: #f4f4f4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-[#a1d4e8] text-white hover:bg-[#c8e4ee];
  }
}

.scrollBarHide::-webkit-scrollbar {
  display: none;
}

.scrollBarHide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
