@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
 
}

.scrollBarHide::-webkit-scrollbar {
  display: none;
}

.scrollBarHide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
